<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273610746961-n9to58mnbj1el4cii6ncvl1glom5gn6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273610746961-n9to58mnbj1el4cii6ncvl1glom5gn6n</string>
	<key>API_KEY</key>
	<string>AIzaSyAna_kwyrsEHy-LRgk9_eKV5_5l_4yUWEE</string>
	<key>GCM_SENDER_ID</key>
	<string>273610746961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nodevice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>besports-cbb59</string>
	<key>STORAGE_BUCKET</key>
	<string>besports-cbb59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273610746961:ios:c9c81a81840dbee4e25c70</string>
	<key>DATABASE_URL</key>
	<string>https://besports-cbb59-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>